* {
  margin: 0px;
  padding: 0px;

}

body {
  font-family: sans-serif;
}

#nav {
  background-color: #E7E5DF;
  padding: 20px;
  overflow: auto;
  margin: 0 auto;
  font-family: "arial"
}

#logo {
  font-size: 30px;
  font-weight: bold;
  float: left;
}

#navbutt {
  float: right;
  list-style: none;
}

#navbutt .btn:hover {
    background-color: yellow;
}

#navbutt li {
  float: left;
  margin: 0 20px;
}
