* {
  margin: 0px;
  padding: 0px;

}

body {
  font-family: sans-serif;
}



/* Index Menu */

#nav {
  background-color: #E7E5DF;
  padding: 20px;
  overflow: auto;
  margin: 0 auto;
  font-family: "arial"
}

#logo {
  font-size: 30px;
  font-weight: bold;
  float: left;
}

#navbutt {
  font-size: 20px;
  float: right;
  list-style: none;
}

#navbutt .btn:hover {
    background-color: yellow;
}

#navbutt li {
  float: left;
  margin: 0 20px;
}



/* Content */

.container {
  padding: auto;
}



/* Index Menu */

#indexBar {
  float: right;
  background-color: black;
  width: 100%;
  padding: 0px;

}

#indexBar ul li {
  list-style-type: none;
}

  #indexBar li a {
  color: white;
  text-decoration: none;
  display: block;
  float: left;
  padding: 0px 20px;
  margin: 10px;
  font-size: 25px;

}

/*Social*/

.socialIcons img {
  float: left;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 10px;
}
