* {
  margin: 0px;
  padding: 0px;

}

body {
  font-family: sans-serif;
}

 /* Header - Menu */

#nav {
  background-color: #E7E5DF;
  padding: 20px;
  overflow: auto;
  margin: 0 auto;
  font-family: "arial"
}

#logo {
  font-size: 30px;
  font-weight: bold;
  float: left;

}

#navbutt {
  float: right;
  list-style: none;
}

#navbutt .btn:hover {
    background-color: yellow;
}

#navbutt li {
  float: left;
  margin: 0 20px;
}


 /* content */


#container {
  background-color: white;
  text-align: center;
  font-family: "arial";
  width: 100%;
  /*border: 1px solid gray;*/
  box-sizing: border-box;
  margin: 25px auto 0px auto;
  padding: 0px;
  overflow: auto;

}


#interstazione {
  background-color: white;
  font-size: 30px;
  width: 100%;
  /*border: 1px solid gray;*/
  box-sizing: border-box;
  margin: 40px auto 0px auto;
  padding: 25px;
  overflow: auto;
}





h2 {
  font-size: 20px;

  box-sizing: border-box;
  margin: 0px auto;
  padding: 25px;
  overflow: auto;

}


.bio {
  text-align: left;
  width: 100%;
  /*border: 2px solid gray;*/
  box-sizing: border-box;
  margin: auto;
  padding: 25px;

}


.point {
  text-align: left;
  width: 90%;
  /*border: 2px solid gray;*/
  box-sizing: border-box;
  margin: auto;
  padding: 15px ;

}

#Frankpic {
  width: 40%;
  margin: 25px 60px 25px 50px;
  padding: auto 30px 80px auto;
  float: left;
}


.linkedin {
  text-align: left;
  font-weight: bold;
  box-sizing: border-box;
  margin: auto;
  padding: 25px;
}






/* Index Menu */

#indexBar {
  float: right;
  background-color: black;
  width: 100%;
  padding: 0px;

}

#indexBar ul li {
  list-style-type: none;
}

  #indexBar li a {
  color: white;
  text-decoration: none;
  display: block;
  float: left;
  padding: 0px 20px;
  margin: 10px;
  font-size: 25px;

}

/*Social*/

.socialIcons img {
  float: left;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 10px;
}



@media (max-width: 768px) {

h1 {
  font-size: 15px;
  font-weight: bold;
  float: none;
  text-align: center;
}

ul {
    text-align: center;
    float: none;
  }

  #Frankpic {
    width: 30%;
  }


#container {
    text-align: center;
  }

#container img {
    float: none;
    height: 50%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    }

.bio {
    float: left;
    width: 100%;
    padding: 40px;

    }


}
